<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>SAP Channel</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
<style type="text/css">
		img{
			display:block;
		}
		.main-container{
			padding:20px;
			border:1px solid #eee;
		}
		td.header-gutter{
			width:10px;
		}
		td.logo-container{
			background:#eee;
		}
		td.horizontal-gutter-10{
			height:10px;
		}
		td.horizontal-gutter-20{
			height:40px;
		}

		h1,h2,h4,h5,p{
			font-family:Calibri, sans-serif;
			color:#666;
		}
		h1{
			font-size:24px;
			text-align:center;
		}
		h2{
			font-size:12px;
			text-align:center;
		}
		h4{
			font-size: 18px;
			margin-top: 0px;
		}
		h5{
			font-size: 16px;
			margin-top: 0px;
		}
		.contact h5 {margin-bottom: 20px;}
		p{
			font-size:14px;
			margin:10px 0px;
		}
		.body-content a:link, .body-content a:visited, /* Yahoo! Mail Override */ .body-content a .yshortcuts /* Yahoo! Mail Override */{
				/*@editable*/ color:red;
				/*@editable*/ font-weight:normal;
				/*@editable*/ text-decoration:underline;
			}
		td.footer{
			background:#999;
			text-align:center;
		}
		td.footer p{
			font-size:11px;
			color:#eee;
		}

		img.float-left {padding-right: 10px;}
		img.float-right {padding-left: 10px;}
</style>

</head>
	<body style="margin: 0; padding: 0;">
	 <table border="0" cellpadding="0" cellspacing="0" width="100%">
	  <tr>
	   <td>
	    	<table align="center" border="0" cellpadding="0" cellspacing="0" width="700" style="border-collapse: collapse;">
			 <tr>
			  <td class="main-container">
			   	<!--table for HEADER-->
			   	<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
					 <tr>
						  <td>
						   <img src="http://i.imgur.com/QgsphWw.jpg" alt="Banner" width="660" height="218" style="display: block;">
						  </td>
					 </tr>
				 </table>
				
				<!--horizontal gutter 10px-->
				<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
					<tr>
						<td class="horizontal-gutter-10" >
						</td>	
					</tr>	
				</table>

				<!--table for BODY-->
				<table border="0" cellpadding="0" cellspacing="0" width="100%" class="body-content">
					<tr>
						<td>

						<!-- // Begin Introduction \\ -->
						<p>Dear Valued Partners,</p>
						<p>This edition of the Channel Update brings you up to speed on a few items which provide you with the latest and most important information; the page now includes extensive readiness information resources. The Channel Update also highlights the recent availability of SAP B1 information:</p>
						<!-- // End Introduction \\ -->

						</td>
					</tr>
				</table>
					<!--horizontal gutter 20px-->
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td class="horizontal-gutter-20">
							</td>	
						</tr>	
					</table>

					<!--table for EVEN section-->
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="body-content">
						<tr>
							<td valign="top">
								<img align="right" class="float-right" src="https://cdn2.hubspot.net/hub/43245/hubfs/SAP_B1_Thailand_jpeg.jpg?t=1461174039760&width=240" style="max-width:300px;" mc:label="image" mc:edit="tiwc300_image01" />
								<h4 class="h4">SAP B1 Innovation Summits</h4>
								<p>DiCentral exhibited at the Asia-Pacific SAP Business One Innovation Summit in Thailand (Feb. 29 - March 2).</p>
								<p>We showcased our integration solution built for SAP B1 users who plan to leverage the SAP HANA platform. DiCentral is proud to be the first and only EDI provider offering a solution for SAP B1 that is HANA-ready.</p>
								<p><a  href="http://edi3.dicentral.com/sap_b1_hana_integration?utm_source=hs_email&utm_medium=email&utm_content=28692329&_hsenc=p2ANqtz-_JInwm_XC14-w0Hwf1Olkx14TRZw0SKqUZQsUfwWxudJdvBx31I62A82cj8bLwZw_fvAZzlzlf3E3azI9pa1GoACRnwA&_hsmi=28692329">Click here</a> to learn more about our HANA-ready SAP B1 integration solution.</p>
							</td>
						</tr>	
					</table>

					<!--horizontal gutter 20px-->
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td class="horizontal-gutter-20">
							</td>	
						</tr>	
					</table>

					<!--table for ODD section-->
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="body-content">
						<tr>
							<td valign="top">
								<img align="left" class="float-left" src="https://cdn2.hubspot.net/hub/43245/hubfs/CMG.png?t=1461174039760&width=260" style="max-width:300px;" mc:label="image" mc:edit="tiwc300_image00" />
								<h4 class="h4">SAP B1 Case Study: Contemporary Marketing Group (CMG)</h4>
								<p>CMG runs its entire supply chain operations from SAP Business One, extending its EDI capabilities with DiCentral‘s embedded EDI suite and a Lisa WMS solution provided by Nware.</p>
								<p>The three modules interact seamlessly, enabling CMG to control all supply chain activities from within SAP Business One.</p>
								<p>Read the success story <a href="http://edi3.dicentral.com/sap-b1-cmg-case-study?utm_source=hs_email&utm_medium=email&utm_content=28692329&_hsenc=p2ANqtz-_62hgkj-fg8rCIWlaV4XYfGwFoDF89XxHvqgG5LVWjEkoZ9jh1DiyIQnqXK-D_fEZya6VrHoXU3ICFShIQCRogpCXhSw&_hsmi=28692329">here</a>.</p>
							</td>
						</tr>	
					</table>

					<!--horizontal gutter 20px-->
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td class="horizontal-gutter-20">
							</td>	
						</tr>	
					</table>

					<!--table for EVEN section-->
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="body-content">
						<tr>
							<td valign="top">
								<img align="right" class="float-right" src="http://i.imgur.com/ZbBFiVZ.jpg" style="max-width:220px;" mc:label="image" mc:edit="tiwc300_image01" />
								<h4 class="h4">New Supply Chain Research from the Global Supply Chain Institute at University of Tennessee</h4>
								<p>Supply chains have become increasingly complex. New research from the Global Supply Chain Institute at University of TN has discovered and analyzed supply chain trends, issues and challenges expected in 2016 and beyond.</p>
								<p>We have found this study to provide a framework for developing a strategy for technology-enabled collaboration and a self-evaluation tool to determine how well organizations use technology to collaborate with their suppliers and customers.</p>
								<p>We are excited to unveil these findings to you and invite you to <a href="http://edi3.dicentral.com/b2bi-study?utm_campaign=UT%20Study&utm_content=Launch%20Email&utm_source=email&utm_source=hs_email&utm_medium=email&utm_content=28692329&_hsenc=p2ANqtz-8H0Zri9z0leld2OCalnTXt4ZaGaNKcOsbt66HvH3FVmDU7igwnI5Hc6p1Lpy3LCrl9R2aOafJS9dOGcC74nTvHUDD0wQ&_hsmi=28692329">download the study now</a>.</p>
							</td>
						</tr>	
					</table>

					<!--horizontal gutter 20px-->
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td class="horizontal-gutter-20">
							</td>	
						</tr>	
					</table>

					<!--table for ODD section-->
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="body-content">
						<tr>
							<td valign="top">
								<img align="left" class="float-left" src="http://cdn2.hubspot.net/hubfs/43245/SAP_HANA_DiCentral_integration.jpg?t=1461270202816" style="max-width:300px;" mc:label="image" mc:edit="tiwc300_image00" />
								<h4 class="h4">7-step Checklists For Sap B2B “Ecosystem” Integration</h4>
								<p>Regardless of whether you are an existing SAP client or thinking about becoming one, at some point your ERP system is going to need data from your “ecosystem” in order to perform its functions. Your ecosystem is the collection of companies that you depend on to operate your company. This includes your banking relationships, your logistics vendors, your customers and your suppliers. It can even include the government.</p>
								<p>Don’t make assumptions when it comes to SAP B2B Integration. Here are the seven things you should check off your list when finding a B2Bi Managed Services provider.</p>
								<p><a href="http://edi3.dicentral.com/sap_hana_integration?utm_content=25703726&utm_medium=social&utm_source=facebook">Learn More</a>.</p>
							</td>
						</tr>	
					</table>

					<!--horizontal gutter 20px-->
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td class="horizontal-gutter-20">
							</td>	
						</tr>	
					</table>

					<!--table for EVEN section-->
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="body-content">
						<tr>
							<td valign="top">
								<img align="right" class="float-right" src="https://cdn2.hubspot.net/hub/43245/hubfs/fact-vs-myth.jpg?t=1461174039760&width=250" style="max-width:300px;" mc:label="image" mc:edit="tiwc300_image01" />
								<h4 class="h4">Separating Fact from Fiction: EDI</h4>
								<p>There are a lot of misconceptions floating around when it comes to EDI and supply chain processes.</p>
								<p>Some of these misconceptions are harmless enough, but others…well, it’s time to set the record straight on a few widely held myths.</p>
								<p>In this article, we debunk four popular myths concerning EDI and supply chain processes. <a href="http://goo.gl/jqDHF5">Click here to read the article</a>.</p>
							</td>
						</tr>	
					</table>

					<!--horizontal gutter 20px-->
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td class="horizontal-gutter-20">
							</td>	
						</tr>	
					</table>

					<!--table for ODD section-->
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="body-content">
						<tr>
							<td valign="top" >
								<img align="left" class="float-left" src="http://i.imgur.com/ztLihIp.png" style="max-width:300px;" />
								<h4 class="h4">DiCentral Appoints Chuck Adams as EVP of Delivery and Professional Services</h4>
								<p>We're honored to announce that DiCentral appointed Chuck Adams as EVP of delivery and professional services. Adams brings an impressive set of management credentials and over 30 years of experience in the delivery of B2B supply chain solutions, as well as extensive experience in corporate strategy, organization, and operations.</p>
								<p><a href="http://dicentral.com/news/2015_December_8_Press.html">Learn More</a>.</p>
							</td>
						</tr>	
					</table>

					<!--horizontal gutter 20px-->
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td class="horizontal-gutter-20">
							</td>	
						</tr>	
					</table>

					<table border="0" cellpadding="0" cellspacing="0" width="100%" class="body-content contact">
					<tr>
						<td align="right" width="540">
						<h5><strong>Questions or more information:</strong></h5>
						<p><strong>Jesse O'Brien, Channel Sales Director (Asia)</strong></p>
						<p><strong>+84 (0) 902 899 072 | <a href="mailto:jesseobrien@dicentral.com">jesseobrien@dicentral.com</a></strong></p>
						</td>
						<td  valign="top" width="120">
							<img src="http://i.imgur.com/TYtf4bk.jpg" style="max-width:120px;"  />
						</td>
					</tr>
					</table>

				<!--FOOTER-->
				<!-- <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
					<tr>
						<td class="footer" align="center">
							<p>©Copyright 2007 - 2016 DiCentral Corporation. All Rights Reserved.</p>
						</td>	
					</tr>	
				</table> -->

			  </td>
			 </tr>
			</table>
	   </td>
	  </tr>
	 </table>
	</body>
</html>